* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 800px;
    margin: auto;
    background-color: white
}

h1 {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 20px 10px;
}

h2 {
    text-align: center;
    background-color: white;
    font-size: 40px;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.topleftrow {
    height: 320px;
    width: 270px;
    outline: 3px solid black;
    background-color: white;
    margin-top: 30px;
}

.top-text {
    padding: 60px;
    font-size: 25px;
    text-align: center;
}

.verticalboxes {
    margin-top: 30px;
    margin-right: 70px;
}

.toprightbox {
    height: 200px;
    width: 430px;
    background-color: white;
    outline: solid black;
    margin-bottom: 17px;

}

.profileimage {
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 35px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 20px;
    font-size: xx-large;
}


#likebutton {
    background-color: yellow;
    color: black;
    font-size: 30px;
    outline: black;
}

.middlerightbox {
    height: 200px;
    width: 430px;
    background-color: white;
    outline: solid black;
    margin-bottom: 17px;
}

.bottomrightbox {
    height: 200px;
    width: 430px;
    background-color: white;
    outline: solid black;
    margin-bottom: 17px;
}

.boxtexts {
    font-size: 20px;
    margin-top: 35px;
    text-align: center;
}

.space {
    margin-left: -60px;
}

#less {
    margin-left: -35px;
}